body {
  background-color: rgb(167, 224, 170);
  /* background-repeat: repeat; */
}

header {
  padding-top: 20px;
  padding-bottom: 50px;
  background-image: url("./images/eritrea-flag.png");
  background-color: white;
  display: flex;
  align-items: right;
  text-transform: capitalize;
  color: green;
}

.header-image {
  background-image: url("./images/183.jpg");
  padding-right: 100px;
}

.header-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
  left: 800px;
}

.content {
  grid-row-start: 3;
  grid-row-end: 2;
  background-clip: content-box;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-paragraph {
  padding: 20px 100px;
  text-align: center;
}

.header {
  background-size: cover;
  width: 100%;
  height: 100px;
  color: green;
}

.navigation-links li {
  display: inline-block;
  margin: 43px;
  height: 60px;
  padding-right: 5px;
  bottom-inherit: 60px;
  color: white;
  left: 800px;
}

.element.style {
  display: none;
  position: absolute;
  z-index: 4;
  right: auto;
  height: 1px;
  letter-spacing: normal;
  color: white;
}

footer {
  background: #96124a;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  grid-row-start: 3;
  grid-row-end: 3;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 40% 40% 20%;
}

.picture {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px
    /* display: grid;
  grid-template-columns: 100px%;
  justify-self: center; */
}

.writing {
  text-decoration: line-through: red;
  font-size: 24px;
  text-shadow: 150px;
}

.about-image {
  position: relative;
  padding: 7px;
  width: 300px;
  height: 100px padding-right:0;
}

.p {
  font-size: 24px;
  text-transform: full-width;
  text-shadow: 34px;
  text-decoration-style: solid;
  right:
}

.div-container {
  position: absolute;
  top: 48%;
  left: 54%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: lucida sans-serif;
  letter-spacing: 0.8px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid white;
  animation: typingEffect 7s steps(40) 500ms 1 normal,
    blinkEffect 500ms steps(40) infinite normal;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 940px
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper>div {
  border: 2px solid rgb(233, 171, 88);
  border-radius: 5px;
  background-color: rgba(233, 171, 88, .5);
  padding: 1em;
  color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.three {
  grid-column: 1;
  grid-row: 2 / 5;
}

.four {
  grid-column: 3;
  grid-row: 3;
}

.five {
  grid-column: 2;
  grid-row: 4;
}

.six {
  grid-column: 3;
  grid-row: 4;
}

iframe {
  width: 450px;
  height: 400px;
  align-items: center;
  color: brown;
}

img {
  position: absolute;
  width: 300px;
  height: 300px;
  align-items: flex-end;
  right: 100px;
  border-radius: 50%;
}

ul {
  position: absolute;
  right: 100px;
  color: white;
}

h1 {
  background-color: lightblue;
  font: decoration-color: red;
  text-combine-upright: all;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  position: absolute;
  right: 1270px;
  padding-bottom: 20px;
  margin: 10px;
  color: white;
  margin-bottom: 10px;
}

/* FIXME:  */