body {
  background-repeat: no repeat;
  background-attachment: fixed;
  background-color: orange;
  font-size: 24px;
  height: 100%;
  width: 100%;
}

/* background-image: url("../images/header.jpg"); */
header {
  background-repeat: no-repeat;
  background-image: url("./image/eritrea-flag.png");
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: white;
}

div#first-section {
  border-radius: 25%;
  padding-left: 60%;
  margin: 2px;
  color: blue;
}

#footer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url("./images/africa3.jpg");
  background-size: 100% 130px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#ul-stylelinks {
  height: 240px;
  top: 30px;
  font-style: normal;
}

#a-li {
  display: grid;
  position: relative;
  shape-margin: 20px;
  hight: 150px;
  color: white;
  padding-bottom: 150px;
}

img {
  position: absolute;
  width: 100%;
  height: 210px;
  padding-left: 120px
}